spring:
  application:
    name: moneymanager

  config:
    import: optional:.env[.properties]

  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}
    group:
      local: [local]
      prod: [prod]

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  mvc:
    throw-exception-if-no-handler-found: true

  web:
    resources:
      add-mappings: false

  mail:
    host: ${SMTP_HOST}
    port: ${SMTP_PORT}
    username: ${SMTP_USERNAME}
    password: ${SMTP_PASSWORD}
    protocol: smtp
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          from: ${SMTP_MAIL_FROM}

server:
  servlet:
    context-path: /api/v1.0
  port: 8080

jwt:
  secret: ${JWT_SECRET}

money:
  manager:
    frontend:
      url: ${FRONTEND_URL}

app:
  activation:
    url: ${APP_ACTIVATION_URL}
